.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px; /* Augmenter le padding pour plus d'espacement */
    background-color: #d0e7ca;
    border: 1px solid #9e8484;
    border-radius: 10px;
    max-width: 70%; /* Occuper presque toute la largeur de l'écran */
    margin: 20px auto; /* Centrer le container avec un peu de marge */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Ajouter une ombre pour donner de la profondeur */
    min-height: 80vh; /* Occuper une grande partie de la hauteur de l'écran */
}

.profile-header {
    display: flex;
    justify-content: center; /* Centrer les éléments horizontalement */
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}

.menu-icon {
    cursor: pointer;
    position: absolute;
    left: 20px;
}

.profile-icons {
    position: absolute;
    right: 20px;
}

.profile-icons i {
    margin-left: 35px;
    cursor: pointer;
}

.profile-menu {
    background-color: #48cc53;
    border: 1px solid #343b34;
    border-radius: 5px;
    padding: 10px;
    position: fixed; /* Positionner le menu */
    z-index: 999;
    top: 60px;
    left: 20px; 
    width: 200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: none;  /* Menu caché par défaut */
}

.menu-item {
    padding: 8px 10px;
}

.menu-item a {
    text-decoration: none;
    color: #3f3d3d;
}

.menu-item a:hover {
    color: #0c0c0c;
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%; /* Faire en sorte que le contenu prenne toute la largeur disponible */
}

.profile-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-photo img {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    margin-bottom: 10px;
    border: 1px solid #c9c5c5; 
}

.upload-button {
    display: none;
}

.custom-upload-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #08ad08;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.custom-upload-button:hover {
    background-color: #767b81;
}

.user-info {
    text-align: center;
    width: 100%; /* Prendre toute la largeur */
}

.user-info h3 {
    font-size: 24px;
    color: #503b3b;
}

.user-email {
    color: #130404;
    font-size: 18px;
    margin-top: 5px;
}

.profile-actions {
    margin-top: 30px;
    width: 100%; /* Faire en sorte que les actions occupent toute la largeur */
    text-align: center;
}

.action-button {
    padding: 12px 30px;
    background-color: #0c881d;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.action-button:hover {
    background-color: #8f8988ce;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: #921a1a;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #333, 0 0 5px rgba(0, 0, 0, 0.5); /* Ombre portée pour effet 3D */
    border: 2px solid #4c4d4c; /* Ajoute une bordure fine */
    padding: 10px 20px; /* Ajoute un espace intérieur */
    display: inline-block; /* Pour que le texte occupe uniquement sa largeur */
    border-radius: 10px; /* Rendre les coins légèrement arrondis */
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #504b4b;
    text-align: center;
    letter-spacing: 0.1px;
    text-transform: capitalize;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); 
    position: relative;
}

.profile-icons i {
    position: relative;
}

.notification-dot {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}
