
.Map-container {
  height: 300px; /* Définissez la hauteur souhaitée pour la carte */
  width: 100%; /* La largeur peut être 100% ou définie à une autre valeur */
}

/* Optionnel : styles pour rendre la carte responsive */
@media (max-width: 600px) {
  .Map-container {
    height: 300px; /* Ajustez la hauteur pour les petits écrans */
  }
}