/* src/App.css */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px;
  background-color: #f8f9fa;
}

h1 {
  color: #0a4d1b;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #79a8d8;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #9edad5;
  color: rgb(173, 117, 117);
}

input {
  margin: 0 10px 20px 10px;
}
